


		</div>
	</div>
	<div style="clear: both;"></div>
</div>
<br/><br/>
{include file="profiler.tpl"}

<!-- jQuery -->
<script src="AdminLTE/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="AdminLTE/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="AdminLTE/plugins/chart.js/Chart.min.js"></script>
<script src="AdminLTE/plugins/sparklines/sparkline.js"></script>
<script src="AdminLTE/plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="AdminLTE/plugins/jqvmap/maps/jquery.vmap.usa.js"></script><!--
<script src="AdminLTE/plugins/jquery-knob/jquery.knob.min.js"></script>
<script src="AdminLTE/plugins/moment/moment.min.js"></script>
<script src="AdminLTE/plugins/daterangepicker/daterangepicker.js"></script>
<script src="AdminLTE/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="AdminLTE/plugins/summernote/summernote-bs4.min.js"></script>
-->
<script src="AdminLTE/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<script src="AdminLTE/dist/js/adminlte.js"></script>
<!--
<script src="AdminLTE/dist/js/pages/dashboard.js"></script>
-->
</body>
</html>
